apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: voting
      microapp: voting-postgres
  template:
    metadata:
      labels:
        app: voting
        microapp: voting-postgres
    spec:
      volumes:
          - name: postgres-storage
            persistentVolumeClaim:
              claimName: db-pvc
      containers:
      - name: db-container
        image: postgres:15-alpine
        volumeMounts:
          - name: postgres-storage
            mountPath: /var/lib/postgresql/data
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: voting-secret-postgres
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: voting-secret-postgres
                key: password
        ports:
          - containerPort: 5432
        livenessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - pg_isready -U $POSTGRES_USER
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - pg_isready -U $POSTGRES_USER
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
  