apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: voting-app
spec:
  type: ClusterIP
  selector:
    app: voting
    microapp: voting-postgres
  ports:
    - name: postgres-port
      port: 5432
      targetPort: 5432
      