apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: result-pdb
  namespace: voting-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app2: result
      microapp: result-frontend

