apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: vote-pdb
  namespace: voting-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: voting
      microapp: voting-frontend

